<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhongqijia.pay.mapper.IssueMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zhongqijia.pay.bean.Issue">
        <id column="id" property="id" />
        <result column="istype" property="istype" />
        <result column="collid" property="collid" />
        <result column="ginsengtype" property="ginsengtype" />
        <result column="releasetime" property="releasetime" />
        <result column="endtime" property="endtime" />
        <result column="presale" property="presale" />
        <result column="sold" property="sold" />
        <result column="limitcount" property="limitcount" />
        <result column="ginscount" property="ginscount" />
        <result column="type" property="type" />
        <result column="checkout" property="checkout" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, istype, collid, ginsengtype, releasetime, endtime, presale, sold, limitcount, ginscount, type, checkout
    </sql>

</mapper>
